/GenerateLinqDB/GenerateLinqDB/GenerateLinqDB.vbproj.user
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/LinqDB/LinqDB.vbproj.user
/GenerateLinqDB/LinqDB/bin
/GenerateLinqDB/LinqDB/obj
/HardwareKiosk/BanknoteIn/BanknoteIn.vbproj.user
