/GenerateLinqDB/GenerateLinqDB/GenerateLinqDB.vbproj.user
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/LinqDB/LinqDB.vbproj.user
/GenerateLinqDB/LinqDB/bin
/GenerateLinqDB/LinqDB/obj
/HardwareKiosk/BanknoteIn/BanknoteIn.vbproj.user
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.exe
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.exe.config
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe.config
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe.manifest
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/gxdotnet7.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/photothumb.db
/HardwareKiosk/CheckHWKiosk/bin/Debug/Printer.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/Printer.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/PrinterClassDll.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/SlipLogo.png
/HardwareKiosk/CheckHWKiosk/bin/Debug/USBClassLibrary.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/VM.ico
/HardwareKiosk/CheckHWKiosk/bin/Debug/Wolf Software.Library NET.dll
/HardwareKiosk/WebCamera/WebCamera.vbproj.user
/KioskLocker/Kiosk_Locker/bin/Debug/Wolf Software.Library NET.dll
/KioskLocker/Kiosk_Locker/bin/Debug/SlipLogo.png
/KioskLocker/Kiosk_Locker/bin/Debug/Printer.dll
/SharedObject/Engine/bin/Debug/Engine.dll
/SharedObject/Engine/bin/Debug/Engine.dll.config
/SharedObject/Engine/bin/Debug/Engine.pdb
/SharedObject/Engine/bin/Debug/Engine.xml
/SharedObject/Engine/bin/Debug/KioskLinqDB.dll
/SharedObject/Engine/bin/Debug/KioskLinqDB.pdb
/SharedObject/Engine/bin/Debug/KioskLinqDB.xml
/SharedObject/Engine/bin/Debug/ServerLinqDB.dll
/SharedObject/Engine/bin/Debug/ServerLinqDB.pdb
/SharedObject/Engine/bin/Debug/ServerLinqDB.xml
/SharedObject/Engine/bin/Debug/USBClassLibrary.dll
/SharedObject/Engine/bin/Debug/log4net.dll
/SharedObject/Engine/bin/Debug/log4net.xml
/SharedObject/Engine/obj/Debug/10aed8fb-5d7a-4780-8073-1bde07b2a31e_Engine.dll
/SharedObject/Engine/obj/Debug/55af9dc6-06cb-43f4-949e-e8b5c0bb04da_Engine.dll
/SharedObject/Engine/obj/Debug/67aa2478-c60d-4f2d-818a-e8f9ccdaf875_Engine.dll
/SharedObject/Engine/obj/Debug/6fa2fd52-54ef-4a86-9604-3242535a22f9_Engine.dll
/SharedObject/Engine/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SharedObject/Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SharedObject/Engine/obj/Debug/Engine.Resources.resources
/SharedObject/Engine/obj/Debug/Engine.dll
/SharedObject/Engine/obj/Debug/Engine.pdb
/SharedObject/Engine/obj/Debug/Engine.vbproj.FileListAbsolute.txt
/SharedObject/Engine/obj/Debug/Engine.vbproj.GenerateResource.Cache
/SharedObject/Engine/obj/Debug/Engine.vbprojResolveAssemblyReference.cache
/SharedObject/Engine/obj/Debug/Engine.xml
/SharedObject/Engine/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/SharedObject/Engine/obj/Debug/TempPE/Web References.SyncDataWebservice.Reference.vb.dll
/SharedObject/Engine/obj/Debug/ef9b170b-a653-4178-a896-f758d2881f94_Engine.dll
/GenerateLinqDB/.vs/GenerateLinqDB/v14/.suo
/HardwareKiosk/BanknoteIn/bin/Debug/BanknoteIn.dll
/HardwareKiosk/BanknoteIn/bin/Debug/BanknoteIn.pdb
/HardwareKiosk/BanknoteIn/bin/Debug/BanknoteIn.xml
/HardwareKiosk/BanknoteIn/bin/Debug/Engine.dll
/HardwareKiosk/BanknoteIn/bin/Debug/Engine.pdb
/HardwareKiosk/BanknoteIn/bin/Debug/Engine.xml
/HardwareKiosk/BanknoteIn/bin/Debug/KioskLinqDB.dll
/HardwareKiosk/BanknoteIn/bin/Debug/KioskLinqDB.pdb
/HardwareKiosk/BanknoteIn/bin/Debug/KioskLinqDB.xml
/HardwareKiosk/BanknoteIn/bin/Debug/ServerLinqDB.dll
/HardwareKiosk/BanknoteIn/bin/Debug/ServerLinqDB.pdb
/HardwareKiosk/BanknoteIn/bin/Debug/ServerLinqDB.xml
/HardwareKiosk/BanknoteIn/bin/Debug/log4net.dll
/HardwareKiosk/BanknoteIn/bin/Debug/log4net.xml
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.BanknoteInConnectDevice.resources
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.BanknoteInTestDevice.resources
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.Resources.resources
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.dll
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.pdb
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.vbproj.FileListAbsolute.txt
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.vbproj.GenerateResource.Cache
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.vbprojResolveAssemblyReference.cache
/HardwareKiosk/BanknoteIn/obj/Debug/BanknoteIn.xml
/HardwareKiosk/BanknoteIn/obj/Debug/CashIn.vbproj.FileListAbsolute.txt
/HardwareKiosk/BanknoteIn/obj/Debug/CashIn.vbproj.GenerateResource.Cache
/HardwareKiosk/BanknoteIn/obj/Debug/CashIn.vbprojResolveAssemblyReference.cache
/HardwareKiosk/BanknoteIn/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/HardwareKiosk/BanknoteIn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HardwareKiosk/BanknoteIn/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/HardwareKiosk/BanknoteOut/BanknoteOut.vbproj.user
/HardwareKiosk/BanknoteOut/bin/Debug/BanknoteOut.dll
/HardwareKiosk/BanknoteOut/bin/Debug/BanknoteOut.pdb
/HardwareKiosk/BanknoteOut/bin/Debug/BanknoteOut.xml
/HardwareKiosk/BanknoteOut/bin/Debug/Engine.dll
/HardwareKiosk/BanknoteOut/bin/Debug/Engine.pdb
/HardwareKiosk/BanknoteOut/bin/Debug/Engine.xml
/HardwareKiosk/BanknoteOut/bin/Debug/KioskLinqDB.dll
/HardwareKiosk/BanknoteOut/bin/Debug/KioskLinqDB.pdb
/HardwareKiosk/BanknoteOut/bin/Debug/KioskLinqDB.xml
/HardwareKiosk/BanknoteOut/bin/Debug/ServerLinqDB.dll
/HardwareKiosk/BanknoteOut/bin/Debug/ServerLinqDB.pdb
/HardwareKiosk/BanknoteOut/bin/Debug/ServerLinqDB.xml
/HardwareKiosk/BanknoteOut/bin/Debug/log4net.dll
/HardwareKiosk/BanknoteOut/bin/Debug/log4net.xml
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.BanknoteOutTestDevice.resources
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.CashOutConnectDevice.resources
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.Resources.resources
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.dll
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.pdb
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.vbproj.FileListAbsolute.txt
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.vbproj.GenerateResource.Cache
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.vbprojResolveAssemblyReference.cache
/HardwareKiosk/BanknoteOut/obj/Debug/BanknoteOut.xml
/HardwareKiosk/BanknoteOut/obj/Debug/CashOut.vbproj.FileListAbsolute.txt
/HardwareKiosk/BanknoteOut/obj/Debug/CashOut.vbproj.GenerateResource.Cache
/HardwareKiosk/BanknoteOut/obj/Debug/CashOut.vbprojResolveAssemblyReference.cache
/HardwareKiosk/BanknoteOut/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/HardwareKiosk/BanknoteOut/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HardwareKiosk/BanknoteOut/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
