/GenerateLinqDB/GenerateLinqDB/GenerateLinqDB.vbproj.user
/GenerateLinqDB/GenerateLinqDB/bin
/GenerateLinqDB/GenerateLinqDB/obj
/GenerateLinqDB/LinqDB/LinqDB.vbproj.user
/GenerateLinqDB/LinqDB/bin
/GenerateLinqDB/LinqDB/obj
/HardwareKiosk/BanknoteIn/BanknoteIn.vbproj.user
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteIn.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BanknoteOut.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardLED.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSensor.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/BoardSolenoid.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.exe
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.exe.config
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe.config
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.vshost.exe.manifest
/HardwareKiosk/CheckHWKiosk/bin/Debug/CheckHardware.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinIn.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/CoinOut.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/Engine.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/gxdotnet7.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/KioskLinqDB.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/photothumb.db
/HardwareKiosk/CheckHWKiosk/bin/Debug/Printer.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/Printer.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/PrinterClassDll.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/QRCodeScanner.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.pdb
/HardwareKiosk/CheckHWKiosk/bin/Debug/ServerLinqDB.xml
/HardwareKiosk/CheckHWKiosk/bin/Debug/SlipLogo.png
/HardwareKiosk/CheckHWKiosk/bin/Debug/USBClassLibrary.dll
/HardwareKiosk/CheckHWKiosk/bin/Debug/VM.ico
/HardwareKiosk/CheckHWKiosk/bin/Debug/Wolf Software.Library NET.dll
