<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoboxLocker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AutoboxLocker.My.MySettings>
            <setting name="AIS_Kiosk_AIS_BackEnd_AIS_WS" serializeAs="String">
                <value>http://10.252.176.115/WS_BackEnd/AIS_WS.asmx</value>
            </setting>
            <setting name="AIS_Kiosk_UserAuthorize_UserAuthorize" serializeAs="String">
                <value>http://10.104.240.11/KMService/UserAuthorize.asmx</value>
            </setting>
            <setting name="AIS_Kiosk_ServerDBService_ServerDBService" serializeAs="String">
                <value>http://10.104.240.11/kmservice/serverdbservice.asmx</value>
            </setting>
            <setting name="AIS_Kiosk_ServerDataProvider_ServerDataProvider"
                serializeAs="String">
                <value>http://localhost/KMService/ServerDataProvider.asmx</value>
            </setting>
            <setting name="AIS_Kiosk_AlarmWebservice_KioskInterfaceAlarmWebservice"
                serializeAs="String">
                <value>http://10.104.240.11/PhysicalMonitoring/KioskInterfaceAlarmWebservice.asmx</value>
            </setting>
            <setting name="AutoboxLocker_Webservice_Locker_ATBLockerWebService"
                serializeAs="String">
                <value>http://103.253.72.87/ATB-TIT/Webservice_Locker/ATBLockerWebService.asmx</value>
            </setting>
            <setting name="AutoboxLocker_AlarmWebReference_ApplicationWebservice"
                serializeAs="String">
                <value>http://103.253.72.88/TIT-MonitorWebservice/ApplicationWebservice.asmx</value>
            </setting>
        </AutoboxLocker.My.MySettings>
    </applicationSettings>
</configuration>